@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

* 
{
    font-family: 'Montserrat';
}

h1
{
    color: #af96d7;
    margin:0px;
    padding:0px;
}

h2
{
    color: #af96d7;
    margin:0px;
    padding:0px;
}

body
{
    color: #0b090c;
    margin:0px;
    padding:0px;
}

.my-img
{
    width: 105px;
    height: 135px;
}

body 
{
    min-width: fit-content;
}

h1 
{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 8px;
}


h2 
{
    font-size:20px;
    color:#282828;
    font-weight: lighter;
    margin-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 5px;
}

.name-text 
{
    font-size:16px;
    color:#7c7c7c;
    font-weight: bold;
    line-height: 5px;
}

.about-me-text 
{
    font-size:10px; 
    line-height: 16px;

}

.mainbox 
{
    width: 610px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 20px 0 rgb(182, 146, 255);
    background-color:rgb(255, 255, 255)
}

section {
    margin-bottom:24px;
}

.float-wrap {
    overflow: hidden;
    margin-bottom: 4px;
    color:rgb(182, 146, 255)
}

.title-text
{
    font-size:11px;
    font-weight: bold;
    color: #282828;
    float: left;
}

.year-text
{
    font-size:11px;
    font-weight: bold;
    color: #282828;
    float: right;
}

.desc-text 
{
    font-size: 9px;
    margin-bottom:6px;
}

.desc-subtext 
{
    font-size: 9px;
    color:#282828;
    padding-left:16px;
    margin-bottom:8px;
}

footer 
{
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px;
    font-size: 12px;
    color: #919191;
}

.title-box 
{
    text-align: right;
}

.sns-img 
{
    width: 12px;
    height: 12px;
}

.sns-wrap 
{
    text-align: right;
}